<odoo>
    <menuitem id="menu_site_labour_root" name="Site Labour Management" sequence="10"/>

    <menuitem id="menu_site_labour_dashboard" name="Dashboard" parent="menu_site_labour_root" action="action_site_labour_dashboard" sequence="5"/>

    <menuitem id="menu_site_labour_operations" name="Operations" parent="menu_site_labour_root" sequence="10"/>
    <menuitem id="menu_site_labour_sheet" name="Labour Sheets" parent="menu_site_labour_operations" action="action_site_labour_sheet" sequence="11"/>
    <menuitem id="menu_site_labour_category" name="Labour Categories" parent="menu_site_labour_operations" action="action_site_labour_category" sequence="12"/>

    <menuitem id="menu_site_labour_daily_wage" name="Daily Wage" parent="menu_site_labour_root" action="action_site_labour_daily_wage" sequence="20"/>
    <menuitem id="menu_site_labour_wage_payment" name="Wage Payments" parent="menu_site_labour_daily_wage" action="action_site_labour_wage_payment" sequence="21"/>

    <menuitem id="menu_site_labour_billing" name="Billing" parent="menu_site_labour_root" sequence="30"/>
    <menuitem id="menu_site_labour_weekly_bill" name="Weekly Bill" parent="menu_site_labour_billing" action="action_site_labour_weekly_bill" sequence="31"/>
    <menuitem id="menu_site_labour_wage_slip" name="Wage Slips" parent="menu_site_labour_billing" action="action_site_labour_wage_slip" sequence="32"/>
</odoo>
